* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav {
    background: rgb(237,248,231);
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    background-image: url(./assets/patii.jpeg);
    background-position: center;
}
.link {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 20px 35px;
    padding: 5px;
    font-size: 21px;
    font-weight: 1000;
    color: #026222;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    border-radius: 5rem;
}
.link::after {
    content: "";
    background: #a5a4a4b8;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.link:hover::after {
    top: 50%;
    opacity: 1;
}
.table td{
    padding: 2px;
   
}
.table {
    max-width: 1200px;
    margin:auto;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.home > p {
    font-size: 30px;
    color: #5d4037;
    font-weight: bolder;
    margin-top: 70px;
}
.home >img {
    left: 50%;       
    width: 1200px;
    height: auto;  
    margin-top: 15%;
}
.welcome {
    text-decoration: none;
    color: #026222;
    padding: 10px;
    border: 2px solid #026222;
    border-radius: 2rem;
}
.welcome:hover {
    background-color: #026222;
    color: white;
}


